{{!-- Footer section block --}}
<footer class="footer">
  <div class="inner">
    <div class="wrap">
      <div class="col col1">
        <nav class="footer-nav-container">
          <ul class="footer-nav">
            <li class="menu-item-has-children">
              <a href="#">HOURS & LOCATION</a>
              <ul class="sub-menu">
                <li><a href="#">2317 Fort Worth Hwy<br>
                Weatherford, Texas 76087</a></li>

                <li><a href="#">Mon-Sat: 9 AM – 5 PM<br>
                Closed Sunday</a></li>
                
              </ul>
            </li>
            <li class="menu-item-has-children" >
              <a href="#">JUDY’S RECENT POSTS</a>
              <ul class="sub-menu">
                  <li><a href="#">Native trees and shrubs for Bluebirds
                  Fun with Tillandsias, or air plants<br>
                  Fall is an Ideal Time to Plant Trees
                  Drought Tolerant Plants<br>
                  Urban sprawl and deer-resistant plants</a></li>
                  
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="#">MENU</a>
              <ul class="sub-menu">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Judy’s Journal</a></li>
                  <li><a href="#">Shop Online</a></li>
                  <li><a href="#">Get Financing</a></li>
                  <li><a href="#">Contact Us</a></li>
                  
              </ul>
            </li>
          </ul>
        </nav>
       
      </div>
      <div class="col col2">
        <div class="text">
          <p><strong>CONTACT</strong>
            <a href="tel:#">817-596-0003</a>
            <a href="tel:#">info@stuartnursery.com</a>
        </div>
        {{>social-links}}
      </div>
    </div>
  </div>
  <div class="bottom-line">
    <div class="inner">
      <div class="copyright">
        <p>Copyright © 2020 Stuart Nursery</p>
        <ul class="links-nav">
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>
      <div class="by">
        <p>Dallas WordPress Development:<a href="#">Web-loft Design</a></p>
      </div>
    </div>
  </div>
</footer>
