<div class="social-links">
  {{#if title}}
    <h3>{{title}}</h3>
  {{/if}}
  <a href="#"><img src="{{root}}images/fb1.svg" alt="">{{!-- You can add text here --}}</a>
  <a href="#"><img src="{{root}}images/telega.svg" alt=""></a>
  <a href="#"><img src="{{root}}images/instagram1.svg" alt=""></a>
</div>
